<!-- <p>create-user works!</p> -->
<div class="form-container">
  <h1>{{ data == "create" ? "Create New User" : "Update User" }} </h1>
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <div class="mat-form-field">
      <h3>Profile Picture</h3>

      <input
        type="file"
        (change)="readURL($event)"
        accept="image/jpg, image/png"
        [(ngModel)]="user.photo"
        formControlName="photo"
        required
      />
      <!-- <mat-icon class="file-input-icon">attach_file</mat-icon> -->

      <mat-error
        *ngIf="
          createUserForm.get('photo')?.invalid &&
          createUserForm.get('photo')?.touched
        "
      >
        Please select a photo (jpg or png format only)
      </mat-error>
    </div>

    <mat-form-field class="mat-form">
      <input
        matInput
        type="text"
        [(ngModel)]="user.firstName"
        formControlName="firstName"
        placeholder="First Name"
      />
      <mat-error
        *ngIf="
          createUserForm.get('firstName')?.invalid &&
          createUserForm.get('firstName')?.touched
        "
      >
        Please enter valid first name (minimum 2 characters)
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form">
      <input
        matInput
        type="text"
        [(ngModel)]="user.lastName"
        formControlName="lastName"
        placeholder="Last Name"
      />
      <mat-error
        *ngIf="
          createUserForm.get('lastName')?.invalid &&
          createUserForm.get('lastName')?.touched
        "
      >
        Please enter valid last name (minimum 2 characters)
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form">
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="user.dateOfBirth"
        formControlName="dateOfBirth"
        placeholder="Date of Birth"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="createUserForm.get('dateOfBirth')?.hasError('invalidBirthdate')"
      >
        Please select a valid date
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form">
      <input
        matInput
        type="text"
        [(ngModel)]="user.city"
        formControlName="city"
        placeholder="City"
      />
    </mat-form-field>

    <mat-form-field class="mat-form">
      <input
        matInput
        type="text"
        [(ngModel)]="user.phone"
        formControlName="phone"
        placeholder="Phone"
      />
      <mat-error
        *ngIf="
          createUserForm.get('phone')?.invalid &&
          createUserForm.get('phone')?.touched
        "
      >
        Please enter valid phone number
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form">
      <input
        matInput
        type="email"
        [(ngModel)]="user.email"
        formControlName="email"
        placeholder="Email"
      />
      <mat-error
        *ngIf="
          createUserForm.get('email')?.invalid &&
          createUserForm.get('email')?.touched
        "
      >
        Please enter valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="user.gender" formControlName="gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          createUserForm.get('gender')?.invalid &&
          createUserForm.get('gender')?.touched
        "
      >
        Please select gender
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ data == "create" ? "Create" : "Update" }}
    </button>

    <button mat-raised-button color="basic" [routerLink]="['/']">Cancel</button>
  </form>
</div>
